[ConfigInfo]

PLUGIN='fnndsc/pl-simpledsapp'

SWIFT_PATH= '/etc/swift'

CHRIS_PATH='/home/ckaubisch'

CMD="simpledsapp.py --prefix test- --sleepLength 0 /share/incoming /share/outgoing"

#PMAN_IP="pman-chris-scale.openapp.cloud"
PMAN_IP="pman-myproject.127.0.0.1.nip.io"

#PFIOH_IP="pfioh-chris-scale.openapp.cloud"
PFIOH_IP="pfioh-myproject.127.0.0.1.nip.io"

  # small = 1MB
  # medium = 25MB
  # large = 100MB
SIZE=medium

# the time in seconds, for pman requests, of how long to continue running status requests before declaring the request failed
MAX_DELAY=120

# Whether or not to capture resource information, e.g. CPU/memory utilization, runtime
CAPTURE='False'

# How many concurrent threads to run
RANGE=1

# For time-based tests, how long (in minutes) to run the test for
TIME=1

#The ID of the process; will be determined by the program and requires no user input
PID=0					 

# The operation to perform on pfioh, if testing a specific operation (either "push" or pull")
OP="push"






